.first-sec{
    background-image: url(section\ 1\ hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}
.background-layer{
    background-color: #00000069;
}
.second-sec-img{
    height: 2.5rem;
}
.second-sec .second_background{
    margin-top: -130px;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
}
